{% extends 'website/base.html' %}
<body>
	{% block title %}
		Usages
	{% endblock %}

	{% block content %}
	<div>
			<h3>Filter Usages</h3>
			<form action="/usage/" method="post" autocomplete="off">
				{% csrf_token %}
				<p>Travelling Between: <input type="text" name="startdate" id="datepicker1"></p>
				<p>			and: <input type="text" name="enddate" id="datepicker2"></p>
				<!--p>Mode of Transport: <select name="mode" id="mode">
					<option value="None">Any</option>
					{% for m in modes %}
						<option id="mode" value="{% autoescape off %}{{ m.id }}{% endautoescape %}">{{m.short_desc}}</option>
					{% endfor %}
				</select></p-->
				<p><input type="submit" value="Filter"></p>
			</form>
	</div>
		<table class="table table-striped table-hover">
		<h3>Usages</h3>
		<tbody>
		{% if valid  != False %}
		{% for o in combined_tickets %}
		<tr>
			<td> {{ o.1 }} </td>
			<td> <b>{{ o.0 }}</b> {{ o.2.0 }} to {{ o.2.1 }}</td>
			<td> {{ o.3.0 }}</td>
			<td> {{ o.3.1 }}</td>
		</div>
		{% endfor %}
		{% else %}
		<td>No usages found</td>
		{% endif %}
		</tr>
		</tbody>
			</table>
	{% endblock content %}