{% extends 'website/base.html' %}
{% load static %}

{% block title %}
	Usages
{% endblock %}

{% block content %}
	<div class="container" style="margin: 0 auto; width: 90%;">
		<h3 class="text-center my-4">Filter Usages</h3>

		<form class="form-inline" action="/usage/" method="post" autocomplete="off">
			{% csrf_token %}
			<div class="row">
				<div class="form-group col-xs-4 px-2">
					<p>Travelling Between: <input class="form-control" type="text" name="startdate" id="datepicker1"></p>
				</div>
				<div class="form-group col-xs-4 px-2">
					<p> and: <input type="text" class="form-control" name="enddate" id="datepicker2"></p>
				</div>
				<div class="form-group col-xs-4 px-2">
					<p> Mode of Transport: <select  class="form-control" name="mode" id="mode"> </p>
						<option value="None">Any</option>
						{% for m in modes %}
							<option id="mode" value="{% autoescape off %}{{ m }}{% endautoescape %}">{{m.short_desc}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="text-center px-1">
					<p><input  class="btn btn-md btn-primary" type="submit" value="Filter"></p>
				</div>
			</div>
		</form>
	</div>

	<div class="container my-4 mb-5">
		<h3>Usages</h3>
			{% if usages %}
				{% for ticket in usages %}
					<div class="card p-4 my-4" style="width: 40rem;">
					<tr>
						<h5> {{ ticket.mode }} Ticket</h5>
						<p> <b>{{ ticket.operator }}</b> </p>
						<p>{{ ticket.travel_from.location.name }} to {{ ticket.travel_to.location.name }}</p>
						<p> {{ ticket.travel_from.date_time }} - {{ ticket.travel_to.date_time }}</p>
					</div>
				{% endfor %}
			{% else %}
				<td>No usages found</td>
			{% endif %}
			</tr>
	</div>

{% endblock content %}